/BERT-Pair/*
/gear-model/*
/albert_base_v1/
.idea
.DS_Store
__pycache__/*
/transformer_xh_model/model_finetuned_epoch_0.pt
/fnc_ucnlp/fnc/*
/prototype/
/learning_to_retrieve_reasoning_paths/data/hotpot/hotpot_fullwiki_data.jsonl

*.DS_Store
*.zip
*.pyc
*.tsv
*.csv
*.db
*.bin
*.npz
__pycache__/
/learning_to_retrieve_reasoning_paths/models/hotpot_models/reader/vocab.txt
/learning_to_retrieve_reasoning_paths/models/__MACOSX/._hotpot_models
/learning_to_retrieve_reasoning_paths/models/__MACOSX/hotpot_models/._graph_retriever_path
/learning_to_retrieve_reasoning_paths/models/__MACOSX/hotpot_models/._reader
/learning_to_retrieve_reasoning_paths/models/__MACOSX/hotpot_models/reader/._vocab.txt
