BERT-Pair.tar.gz
coreference_resolution/neuralcoref/build/temp.linux-x86_64-3.7/
coreference_resolution/neuralcoref/neuralcoref/neuralcoref.cpython-37m-x86_64-linux-gnu.so
nodesource_setup.sh


/BERT-Pair/*
/gear-model/*
/albert_base_v1/
.idea
.DS_Store
__pycache__/*
/transformer_xh_model/model_finetuned_epoch_0.pt
/fnc_ucnlp/fnc/*
/prototype/
/learning_to_retrieve_reasoning_paths/data/hotpot/hotpot_fullwiki_data.jsonl

*.DS_Store
*.zip
*.pyc
*.tsv
*.csv
*.db
*.bin
*.npz
__pycache__/
/learning_to_retrieve_reasoning_paths/models/hotpot_models/reader/vocab.txt
/learning_to_retrieve_reasoning_paths/models/__MACOSX/._hotpot_models
/learning_to_retrieve_reasoning_paths/models/__MACOSX/hotpot_models/._graph_retriever_path
/learning_to_retrieve_reasoning_paths/models/__MACOSX/hotpot_models/._reader
/learning_to_retrieve_reasoning_paths/models/__MACOSX/hotpot_models/reader/._vocab.txt
/coreference_resolution/coref/

secondary_features/SentimentAnalysis/models/model_bert

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
prototype
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc

.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/client/package-lock.json
/client/yarn.lock
/news_vectors/dump.rdb
/news_vectors/redis-stable.tar.gz
/news_vectors/redis-stable/
/news_vectors/article_100.index
/news_vectors/embeddings.txt
/redis-stable.tar.gz
/dump.rdb
/redis-stable/


/twitter/notebooks/*.txt

/twitter/notebooks/.ipynb_checkpoints/
/twitter/images/graphfinal.png
/twitter/notebooks/graphfinal.png
